* {
	margin: 0;
}
a {
	text-decoration:none;
}
a:hover {
	background-color: #F2F5A9;
}
html, body {
	height: 100%;
}
h1, h2, h3, p {
	font-family: 'Architects Daughter'; 
	font-weight: normal; 
	font-style: normal;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
}
.body {
	text-align: center;
}
.header {
	width: 100%;
}
.footer, .push {
	height: 4em;
}
.footer {
	text-align: center;
}
.footer_table {
	width: 100%;
}
.footer_table_data_left {
	width: 22.5%;
}
.footer_table_data_links {
	width: 15%;
	text-align: center;
}
.footer_table_data_right {
	width: 22.5%;
}
.footer_text {
	font-size: 8pt;
}