* {
	margin: 0;
}
html, body {
	height: 100%;
}
h3 {
	font-family: "Courier New", Courier, monospace;
}
p {
	font-family: "Courier New", Courier, monospace;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -2em;
}
.body {
	text-align: center;
}
.header {
	width: 100%;
}
.footer, .push {
	height: 2em;
}
.footer {
	text-align: center;
}
.footer_text {
	font-size: 8pt;
}