* {
	margin: 0;
}
html, body {
	height: 100%;
}
h1, h2, h3, p {
	font-family: 'Architects Daughter'; 
	font-weight: normal; 
	font-style: normal;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
}
.body {
	text-align: center;
}
.header {
	width: 100%;
	height: 10%;
}
.body_content {
	background-color: rgba(0,0,0,0.50);
}
.body_href {
	color: #FFFF00;
}
.body_table {
	width: 100%;
}
.body_table_headers {
	vertical-align: top;
	text-align: right;
}
.body_table_data {
	text-align: left;
}
.body_table_content_text {
	margin-left: 10px;
	margin-right: 10px;
	color: #FFFFFF;
}
.body_table_content_text_space {
	font-size: 10px;
}
.footer, .push {
	height: 4em;
}
.footer {
	text-align: center;
}
.footer_table {
	width: 100%;
}
.footer_table_data_left {
	width: 10%;
}
.footer_table_data_links {
	width: 16%;
	text-align: center;
}
.footer_table_data_right {
	width: 10%;
}
.footer_href {
	text-decoration:none;
}
.footer_links {
	color: #FFFFFF;
}
.footer_text {
	font-size: 8pt;
	color: #FFFFFF;
}
.footer_nav {
	transition: background-color 1s ease;
	border-radius:15px;
}
.footer_nav:hover {
	background-color: #A4A4A4;
	background-color: rgba(164,164,164,0.50);
}