.body_content {
	width: 100%;
}
.body_table {
	width: 100%;
}
.body_table_data_left {
	width: 55%;
}
.body_table_data_center {
	width: 40%;
}
.body_table_data_right {
	width: 5%;
}
.body_table_content {
	text-align: left;
	background-color: #FFFFFF;
	border-radius:15px;
}
.body_table_content_text {
	margin-left: 5px;
	margin-right: 5px;
}