.body_content {
	margin-left: 3cm;
	margin-right: 3cm;
	text-align: left;
	background-color: #000000;
	border-radius:15px;
	background-color: rgba(0,0,0,0.50);
}
.body_table_content_text {
	margin-left: 10px;
	margin-right: 10px;
	color: #FFFFFF;
}
.body_table_content_text_space {
	font-size: 10px;
}