.body_content {
	margin-left: 3cm;
	margin-right: 3cm;
	background-color: #000000;
	border-radius:15px;
	background-color: rgba(0,0,0,0.50);
}
.body_table {
	width: 100%;
}
.body_table_headers {
	vertical-align: top;
	text-align: right;
	width: 30%;
}
.body_table_data {
	text-align: left;
	width: 70%;
}
.body_table_content_text {
	margin-left: 10px;
	margin-right: 10px;
	color: #FFFFFF;
}
.body_table_content_text_space {
	font-size: 10px;
}