.body_content {
	width: 100%;
	text-align: left;
	background-color: #FFFFFF;
	border-radius:15px;
	border:2px solid #A1A1A1;
	box-shadow: 10px 10px 5px #888888;
}
.body_table_content_text {
	margin-left: 10px;
	margin-right: 10px;
}
.body_table_content_text_space {
	font-size: 10px;
}