@import '../common/mixins/media';
@import '../common/mixins/browser-specific';

$app_store_img_width: 140px;
$app_store_img_height: 41px;

p.app-store-para {
  text-align: center;

  img.app-store {
    @include src('app_store.jpg', $app_store_img_width, $app_store_img_height);
    width: $app_store_img_width;
    height: $app_store_img_height;
    margin-top: 20px;
  }
}
