<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/index.css' />
</head>
<body>
	<div id="welcome-section">
		<img class="backdrop">
		
		<div class="profile vertical-center">
			<img class="profile-image">
			<br>
			<div class="profile-info">
				<h1>Viraj Chitnis</h1>
				<h4>Web &amp; iOS developer</h4>
			</div>
		</div>
		
		<ul class="nav-bar">
			<li>Resumé</li>
			<li>About me</li>
			<li>Blog</li>
		</ul>
		
		<div class="down-button">
			<span class="glyphicon glyphicon-chevron-down"></span>
		</div>
	</div>
	
	<div id="main-section">
		<br>
		<br>
		<div class="relative-wrapper">
			<div class="container-page">
				<h1>About me</h1>
				<hr>
				<p class="link-btn"><img class="github"> github.com/virajchitnis</p>
				<p>I am crazy about computers, gadgets, cars and any kind of technology. I love programming and building amazing things. I also love to travel and have visited 17 countries. I grew up in Mumbai (Bombay), India and currently live in Wynnewood, PA.</p>
				<h2>My projects</h2>
				<div class="project">
					<h3>Weight & BMI Tracker <img></h3>
					<p>The most challenging part of loosing and maintaining your weight is properly keeping track of it. This app will not only let you log your weight, but it will also help you by calculating your BMI and other weight management stats.</p>
				</div>
				<div class="project">
					<h3>TravelCountant - Simple Travel Expense Keeper <img></h3>
					<p>If you want a simple solution for keeping track of your expenses during a vacation trip, or you want to keep track of your expenses for a project your working on, this is the app for you.
You can make multiple 'Pockets' in this app, a pocket is like an account, it defines the name of the trip/project, the amount that you have reserved for using with this endeavor, and the start date. You can then go about logging your expenses within each 'Pocket'. The expenses will be organized by day and at the bottom of each day you will be able to view the amount spent during that day and the amount remaining (balance carried forward).
Finally, once your trip is over, or your project is complete, you can generate an email with your expenses and send it to your accountant or to yourself to keep it in record.</p>
				</div>
				
				<h1>Resumé</h1>
				<hr>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<div class="footer">
					<p class="copyright">Copyright &copy; 2015 Viraj Chitnis. All Rights Reserved.</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>