<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/index.css' />
</head>
<body>
	<div id="welcome-section">
		<img class="backdrop">
		
		<div class="profile vertical-center">
			<img class="profile-image">
			<br>
			<div class="profile-info">
				<h1>Viraj Chitnis</h1>
				<h4>Web &amp; iOS developer</h4>
			</div>
		</div>
		
		<div class="button-left">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</div>
		
		<div class="button-right">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</div>
		
		<ul class="nav-bar">
			<li>Resumé</li>
			<li>About me</li>
			<li>Blog</li>
		</ul>
	</div>
</body>
</html>