<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/index.css' />
</head>
<body>
	<div id="welcome-section">
		<div class="profile vertical-center">
			<img class="profile-image">
			<h1>Viraj Chitnis</h1>
			<h4>Web &amp; iOS developer</h4>
		</div>
		
		<div class="button-left">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</div>
		
		<div class="button-right">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</div>
	</div>
</body>
</html>