<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/index.css' />
</head>
<body>
	<ul class="nav-bar">
		<li onclick="scrollToResume()">Resumé</li>
		<li onclick="scrollToAbout()">About me</li>
		<li onclick="scrollToBlog()">Blog</li>
	</ul>
	
	<div id="welcome-section">
		<img class="backdrop">
		
		<div class="profile vertical-center">
			<img class="profile-image">
			<br>
			<div class="profile-info">
				<h1>Viraj Chitnis</h1>
				<h4>Web &amp; iOS developer</h4>
			</div>
		</div>
		
		<div class="link-down">
			<span class="glyphicon glyphicon-chevron-down"></span>
		</div>
	</div>
	
	<div id="about-section">
		<h1>About</h1>
	</div>
	
	<div id="resume-section">
		<h1>Resumé</h1>
	</div>
	
	<div id="blog-section">
		<h1>Blog</h1>
	</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="/javascripts/index.min.js"></script>
</body>
</html>