@import 'style';

@include keyframes(nav-bar-item-fade) {
	0% {
		background-color: transparent;
		@include box-shadow(none);
	}
	100% {
		background-color: rgba(50, 50, 50, 0.7);
		@include box-shadow(0px 0px 10px 10px rgba(50, 50, 50, 0.7));
	}
}

@include keyframes(profile-image-bounce) {
	0% {
		border-radius: 40px;
		height: 80px;
		width: 80px;
	}
	25% {
		border-radius: 60px;
		height: 120px;
		width: 120px;
	}
	50% {
		border-radius: 45px;
		height: 90px;
		width: 90px;
	}
	75% {
		border-radius: 52.5px;
		height: 105px;
		width: 105px;
	}
	100% {
		border-radius: 50px;
		height: 100px;
	}
}

body {
	overflow: hidden;
}

#welcome-section {
	$side-button-margin: 10px;
	$side-button-color: rgba(250, 250, 250, 1);
	
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
	.backdrop {
		content: url("/images/main-backdrop.jpg");
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		@include filter(blur(25px));
		
		@include breakpoint(sm) {
			@include transform(translate3d(0, 0, 0));
		}
	}
	
	.profile {
		z-index: 0;
		width: 100%;
		text-align: center;
		
		.profile-image {
			content: url("/images/profile.jpg");
			width: 100px;
			height: 100px;
			border-radius: 50px;
			border: 1px solid rgb(200, 200, 200);
			@include box-shadow(0px 0px 10px 10px rgba(50, 50, 50, 0.2));
			@include animation(profile-image-bounce 1s);
			@include transform(translate3d(0, 0, 0));
		}
		
		.profile-info {
			@include box-shadow(0px 0px 10px 10px rgba(50, 50, 50, 0.2));
			border-radius: 10px;
			padding: 5px;
			background-color: rgba(50, 50, 50, 0.2);
			display: inline-block;
			
			h1, h4 {
				color: white;
			}
		}
	}
	
	.side-button {
		z-index: 1;
		position: absolute;
		top: 50%;
		font-size: 20pt;
		color: $side-button-color;
		@include transform(translateY(-50%));
		padding-top: 3px;
		padding-bottom: 3px;
		padding-left: 9.5px;
		padding-right: 9.5px;
		border-radius: 23px;
		cursor: pointer;
	}
	
	.button-left {
		@extend .side-button;
		left: $side-button-margin;
		
		.glyphicon {
			cursor: pointer;
			color: $side-button-color;
		}
	}
	
	.button-right {
		@extend .side-button;
		right: $side-button-margin;
		
		.glyphicon {
			cursor: pointer;
			color: $side-button-color;
		}
	}
	
	.button-left:hover, .button-right:hover {
		background-color: rgba(50, 50, 50, 0.7);
		@include box-shadow(0px 0px 10px 10px rgba(50, 50, 50, 0.7));
		@include animation(nav-bar-item-fade 0.45s);
	}
	
	ul.nav-bar {
		position: absolute;
		top: 80%;
		list-style-type: none;
		padding: 0;
		z-index: 2;
		text-align: center;
		@include box-shadow(0px 0px 10px 10px rgba(50, 50, 50, 0.2));
		border-radius: 10px;
		background-color: rgba(50, 50, 50, 0.2);
		
		@include breakpoint(xs) {
			width: 80%;
			left: 10%;
		}
		@include breakpoint(sm) {
			left: 50%;
			@include transform(translateX(-50%));
		}
		
		li {
			padding: 5px;
			padding-left: 10px;
			padding-right: 10px;
			color: $side-button-color;
			display: inline-block;
			cursor: pointer;
			border-radius: 10px;
		}
		
		li:hover {
			background-color: rgba(50, 50, 50, 0.7);
			@include box-shadow(0px 0px 10px 10px rgba(50, 50, 50, 0.7));
			@include animation(nav-bar-item-fade 0.45s);
		}
	}
}