@import '../common/mixins/browser-specific.scss';

// @import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Rationale');
@import url('https://fonts.googleapis.com/css?family=Dosis');
// @import url('https://fonts.googleapis.com/css?family=Eagle+Lake');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

* {
  margin: 0;
  @include css3-prefix(user-select, none);
  cursor: default;
  // font-family: 'Raleway', sans-serif;
  font-family: 'Rationale', sans-serif;
  // font-family: 'Dosis', sans-serif;
  // font-family: 'Eagle Lake', cursive;
  // font-family: 'Dancing Script', cursive;
}
