@import '../common/mixins/media';
@import '../common/mixins/browser-specific';

div.resume-header {
  display: none;
}
p.resume-my-website {
  display: none;
}
p.resume-this-website {
  display: block;
}

@include print {
  p.resume-this-website {
    display: none;
  }
  p.resume-my-website {
    display: block;
  }
  .menu-bar-top {
    display: none;
  }
  .main-contents {
    width: 19.05cm;

    * {
      font-size: 10pt;
      font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    }
    div.resume-header, div.resume-contents {
      display: block;
      width: 100%;
      margin-bottom: 120px;

      div.name {
        display: inline-block;

        h1 {
          font-size: 60pt;
          color: rgb(93, 99, 209);
        }
      }
      div.address {
        width: 5.33cm;
        float: right;
        display: inline-block;

        p {
          color: grey;
        }
      }
      div.resume-contents-left {
        display: inline-block;
        width: 4.32cm;

        h2 {
          margin-top: 0;
          border-bottom: none;
          color: rgb(122, 122, 122);
          text-transform: capitalize;
        }
      }
      div.resume-contents-right {
        width: 14.73cm;
        display: inline-block;
        float: right;

        h3, h4 {
          color: rgb(122, 122, 122);
        }
        h3:first-of-type {
          margin-top: 0;
        }
        p {
          margin-top: 0;
        }
        table {
          border-collapse: collapse;

          tr:nth-child(even) {
            background: rgb(243, 243, 242);
          }
          td {
            padding: 5px;
          }
        }
      }
    }
    div.resume-contents {
      margin-top: 20px;
      margin-bottom: 0;
    }
  }
  .footer {
    display: none;
  }
}
