@import '../../App/scss/media';
@import '../../App/scss/browser-specific';

.footer {
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid black;
  font-family: 'Dancing Script', cursive;

  @include phone {
    width: 90%;
  }
  @include tablet {
    width: 18.46cm;
  }
  @include desktop {
    width: 18.46cm;
  }

  p {
    margin: 0 auto;

    &.copyright {
      font-family: 'Dancing Script', cursive;
    }
    &.commit {
      margin-top: 5px;
      font-size: 8pt;
      font-family: 'Dosis', sans-serif;
    }
  }
}
