@import '../../common/mixins/media';
@import '../../common/mixins/browser-specific';

$profile_img_size_phone: 90px;
$profile_img_size: 90px;
$name_font_size_phone: 50px;
$name_font_size: 60px;
$occupation_font_size_phone: 20px;
$occupation_font_size: 24px;
$bar_padding: 10px;
$social_icons_side_margins: 5px;
$social_icons_height_phone: 25px;
$social_icons_height: 20px;

.my-info {
  margin: 0;
  position: absolute;
  top: 40%;
  @include css3-prefix(transform, translate(0, -50%));
  width: 100%;
  text-align: center;
  z-index: 1;
  @include border-shadow(0px 0px 8px 0px rgba(0,0,0,0.75));
  padding-top: $bar_padding;
  padding-bottom: $bar_padding;
  background-color: rgba(255, 255, 255, 0.2);
  @include animation(profile-bar-appear 0.5s, profile-bar-expand 0.5s);
  animation-delay: 0s, 0.5s;

  img.profile {
    border: 4px solid white;
    @include animation(profile-image-delay 3s, profile-image-appear 1s);
    animation-delay: 0s, 3s;
    margin: 0 auto;
    height: $profile_img_size;
    width: $profile_img_size;
    @include border-radius($profile_img_size);
    @include src('profile.jpg', $profile_img_size_phone - 8px, $profile_img_size_phone - 8px);

    @include phone {
      height: $profile_img_size_phone;
      width: $profile_img_size_phone;
      @include border-radius($profile_img_size_phone);
      @include src('profile.jpg', $profile_img_size_phone - 8px, $profile_img_size_phone - 8px);
    }
  }

  h1 {
    font-size: $name_font_size;
    @include animation(profile-name-delay 2s, profile-name-appear 1s);
    animation-delay: 0s, 2s;

    @include phone {
      font-size: $name_font_size_phone;
    }
  }

  h2 {
    font-size: $occupation_font_size;
    @include animation(profile-occupation-delay 1s, profile-occupation-appear 1s);
    animation-delay: 0s, 1s;

    @include phone {
      font-size: $occupation_font_size_phone;
    }
  }

  div {
    display: inline-block;
    margin-top: 10px;

    a {
      display: block;
      height: 20px;
      @include animation(profile-social-links-delay 4s, profile-social-links-appear 1s);
      animation-delay: 0s, 4s;

      img {
        @include animation(profile-social-links-delay 4s, profile-social-links-appear 1s);
        animation-delay: 0s, 4s;
        margin-left: $social_icons_side_margins;
        margin-right: $social_icons_side_margins;

        @include phone {
          height: $social_icons_height_phone;
          width: $social_icons_height_phone;
        }
        @include tablet {
          height: $social_icons_height;
          width: $social_icons_height;
        }
        @include desktop {
          height: $social_icons_height;
          width: $social_icons_height;
        }

        &.github {
          @include phone {
            @include src('GitHub-Mark-64px.png', $social_icons_height_phone, $social_icons_height_phone);
          }
          @include tablet {
            @include src('GitHub-Mark-64px.png', $social_icons_height, $social_icons_height);
          }
          @include desktop {
            @include src('GitHub-Mark-64px.png', $social_icons_height, $social_icons_height);
          }
        }
        &.linkedin {
          @include phone {
            @include src('In-2C-59px-R.png', $social_icons_height_phone, $social_icons_height_phone);
          }
          @include tablet {
            @include src('In-2C-59px-R.png', $social_icons_height, $social_icons_height);
          }
          @include desktop {
            @include src('In-2C-59px-R.png', $social_icons_height, $social_icons_height);
          }
        }
        &.twitter {
          @include phone {
            @include src('Twitter_Logo_Blue.png', $social_icons_height_phone, $social_icons_height_phone);
          }
          @include tablet {
            @include src('Twitter_Logo_Blue.png', $social_icons_height, $social_icons_height);
          }
          @include desktop {
            @include src('Twitter_Logo_Blue.png', $social_icons_height, $social_icons_height);
          }
        }
        &.instagram {
          @include phone {
            @include src('IG_Glyph_Fill.png', $social_icons_height_phone, $social_icons_height_phone);
          }
          @include tablet {
            @include src('IG_Glyph_Fill.png', $social_icons_height, $social_icons_height);
          }
          @include desktop {
            @include src('IG_Glyph_Fill.png', $social_icons_height, $social_icons_height);
          }
        }
        &.mail {
          @include phone {
            @include src('519948-008_Mail-128.png', $social_icons_height_phone, $social_icons_height_phone);
          }
          @include tablet {
            @include src('519948-008_Mail-128.png', $social_icons_height, $social_icons_height);
          }
          @include desktop {
            @include src('519948-008_Mail-128.png', $social_icons_height, $social_icons_height);
          }
        }
        &.gpg {
          @include phone {
            @include src('09_Keychain_v2.png', $social_icons_height_phone, $social_icons_height_phone);
          }
          @include tablet {
            @include src('09_Keychain_v2.png', $social_icons_height, $social_icons_height);
          }
          @include desktop {
            @include src('09_Keychain_v2.png', $social_icons_height, $social_icons_height);
          }
        }
      }
    }
  }
}

@keyframes profile-bar-appear {
  from {
    @include border-shadow(none);
    background-color: initial;
    opacity: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  to {
    @include border-shadow(0px 0px 8px 0px rgba(0,0,0,0.75));
    background-color: rgba(255, 255, 255, 0.2);
    opacity: 1;
    padding-top: 0;
    padding-bottom: 0;
  }
}

@keyframes profile-bar-expand {
  from {
    padding-top: 0;
    padding-bottom: 0;
  }
  to {
    padding-top: $bar_padding;
    padding-bottom: $bar_padding;
  }
}

@keyframes profile-image-delay {
  from {
    height: 0;
    width: 0;
    @include border-radius(0);
    border: 0px solid white;
  }
  to {
    height: 0;
    width: 0;
    @include border-radius(0);
    border: 0px solid white;
  }
}

@keyframes profile-image-appear {
  from {
    height: 0;
    width: 0;
    @include border-radius(0);
    border: 0px solid white;
    opacity: 0;
  }
  to {
    border: 4px solid white;
    opacity: 1;

    @include phone {
      height: $profile_img_size_phone;
      width: $profile_img_size_phone;
      @include border-radius($profile_img_size_phone);
    }
    @include tablet {
      height: $profile_img_size;
      width: $profile_img_size;
      @include border-radius($profile_img_size);
    }
    @include desktop {
      height: $profile_img_size;
      width: $profile_img_size;
      @include border-radius($profile_img_size);
    }
  }
}

@keyframes profile-name-delay {
  from {
    font-size: 0;
  }
  to {
    font-size: 0;
  }
}

@keyframes profile-name-appear {
  from {
    font-size: 0;
    opacity: 0;
  }
  to {
    opacity: 1;

    @include phone {
      font-size: $name_font_size_phone;
    }
    @include tablet {
      font-size: $name_font_size;
    }
    @include desktop {
      font-size: $name_font_size;
    }
  }
}

@keyframes profile-occupation-delay {
  from {
    font-size: 0;
  }
  to {
    font-size: 0;
  }
}

@keyframes profile-occupation-appear {
  from {
    font-size: 0;
    opacity: 0;
  }
  to {
    opacity: 1;

    @include phone {
      font-size: $occupation_font_size_phone;
    }
    @include tablet {
      font-size: $occupation_font_size;
    }
    @include desktop {
      font-size: $occupation_font_size;
    }
  }
}

@keyframes profile-social-links-delay {
  from {
    height: 0;
    font-size: 0;
  }
  to {
    height: 0;
    font-size: 0;
  }
}

@keyframes profile-social-links-appear {
  from {
    height: 0;
    font-size: 0;
  }
  to {
    @include phone {
      height: $social_icons_height_phone;
      font-size: $social_icons_height_phone;
    }
    @include tablet {
      height: $social_icons_height;
      font-size: $social_icons_height;
    }
    @include desktop {
      height: $social_icons_height;
      font-size: $social_icons_height;
    }
  }
}
