@import '../../App/scss/media';
@import '../../App/scss/browser-specific';

.downloads-page {
  margin: 0 auto;
  font-family: 'Rationale', sans-serif;

  @include phone {
    width: 90%;
  }
  @include tablet {
    width: 18.46cm;
  }
  @include desktop {
    width: 18.46cm;
  }

  * {
    font-family: 'Rationale', sans-serif;
  }
  h1 {
    margin-top: 20px;
    border-bottom: 1px solid #05A5D1;
    color: #025268;
  }
  h2 {
    margin-top: 20px;
    color: #025268;
  }

  .app-menu {
    p {
      margin-top: 10px;
      padding: 10px;
      display: inline-block;
      border: 1px solid #05A5D1;
      border-radius: 3px 3px 0px 0px;
      border-bottom-color: transparent;
      margin-right: 10px;
      color: #05A5D1;

      &.selected, &:hover {
        background-color: #05A5D1;
        color: white;
      }
    }
  }
  .app-info {
    border: 1px solid #05A5D1;
    border-radius: 0px 3px 3px 3px;
    padding: 10px;
    position: relative;

    .release-date {
      margin-bottom: 10px;
    }
    .download-button {
      text-align: center;
      margin-top: 10px;

      a {
        text-decoration: none;
        color: #05A5D1;
        display: inline-block;
        border: 1px solid #05A5D1;
        border-radius: 3px;
        padding: 10px;

        &:hover {
          background-color: #05A5D1;
          color: white;
        }
      }
    }
  }

  .footer {
    border-top: 1px solid #05A5D1;
    margin-top: 20px;
    padding: 20px;

    p {
      text-align: center;
      font-family: 'Dancing Script', cursive;
    }
  }
}
