@import '../../mixins/media';
@import '../../mixins/browser-specific';

.main-contents {
  margin: 0 auto;
  margin-bottom: 20px;
  font-family: 'Dosis', sans-serif;
  @include animation(main-contents-invisible 0.5s, main-contents-appear 3s);
  animation-delay: 0s, 0.5s;

  @include phone {
    width: 90%;
  }
  @include tablet {
    width: 18.46cm;
  }
  @include desktop {
    width: 18.46cm;
  }

  * {
    font-family: 'Dosis', sans-serif;
  }
  h2 {
    margin-top: 40px;
    border-bottom: 1px dotted black;
  }
  h3 {
    margin-top: 30px;
  }
  p {
    margin-top: 20px;
  }
  table {
    width: 100%;
    table-layout: fixed;
    text-align: center;
  }
}

@keyframes main-contents-invisible {
  from {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

@keyframes main-contents-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
