<div class="uk-container uk-margin-top uk-margin-bottom">
    <img class="profile-img" src="assets/images/profile.jpg" alt="">
    <h1 class="uk-text-center">Viraj R Chitnis</h1>
    <h3 class="uk-text-center">cyber security, web development &amp; iOS development</h3>
    <p class="uk-text-center"><a href="https://github.com/virajchitnis" target="_blank" uk-icon="github"></a> <a href="https://www.linkedin.com/in/viraj-chitnis-ba605894/" target="_blank" uk-icon="linkedin"></a> <a href="mailto:vc@virajchitnis.com" target="_blank" uk-icon="mail"></a> <a href="https://pgp.mit.edu/pks/lookup?op=get&search=0xBF5C94BA44F790E2" target="_blank" uk-icon="lock"></a></p>
    {{!-- <p class="uk-text-center"><a href="details" uk-icon="plus-circle"></a></p> --}}
    {{outlet}}
    <hr>
    <p class="uk-article-meta uk-text-center">Copyright © 2019 Viraj R Chitnis. All Rights Reserved.</p>
</div>

