<ul class="uk-tab-bottom uk-child-width-expand" uk-tab>
    <li class="uk-active"><a href="#"><span class="uk-margin-small-right" uk-icon="user"></span> About me</a></li>
    <li><a href="#"><span class="uk-margin-small-right" uk-icon="mail"></span> Contact me</a></li>
</ul>
<ul class="uk-switcher">
    <li>
        <div>
            <p>Coming soon.</p>
        </div>
    </li>
    <li>
        <div>
            <p>The best way to contact me is to email me at <a href="mailto:vc@virajchitnis.com">vc@virajchitnis.com</a>. In your email please indicate that you found my email address through my website.</p>
            <p>If you would like to discuss potential work with me over the phone, online conferencing, or in person, please email me and I will get back to you.</p>
        </div>
    </li>
</ul>